@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
.App {
  font-family: 'Roboto Mono', monospace;
}
h1{
  text-align: center;
  padding-top: 50px;
}
.users {
  display: flex;
  width: 80%;
  margin: 70px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* rem = relative to the font size*/