.comment{
  float: left;
  margin: 0%;
}
.NavBar{
  margin-bottom: 2.5%;
}
.MainVideo{
  width: 100%!important;
  height: 538px!important;
}
.content{
  width: 70%;
  margin: 5%;
  margin-top: 0;
}

.Container{
  width: 100%!important;
}
.row{
  margin: 0!important;
}
.UserInfo-name{
  color: #030303;
}
.Comment-text{
  color: #030303a2;
}
.user-email{
  color: #03030360;
}
.sidebar{
  width: 100%;
}
.views{
  color: #030303a2;
}
